.masthead {
  position: relative;
  background-color: #343a40;
  background: url(https://startbootstrap.github.io/startbootstrap-landing-page/assets/img/bg-masthead.jpg)
    no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
